body{
    background: url('../img/bg-man.jpg') no-repeat 100% 100%;
    margin: 0;
    padding: 0;
}
header, section, .partners{
    width: 1140px;
    margin: 0 auto;
}

.h1-logo{
    font-size: 0;
}

.logo{
     height: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid #333;
}

.tel span{
    font-size: 20px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color:#000;
}
.nav-wraper{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}

nav{
    /* display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start; */
    float:left;
    /* margin-top: 25px; */
    font-size: 16px;
}
header .button{
    /* margin-top: 25px; */
    float: right;
}

nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 16px 0;
}

nav li{
    margin-right:40px;
}


.button{
    border: 1px solid #444;
    color: red;
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.h2-info{
    margin-top: 200px;
    font-size: 35px;
    font-weight: bolder;
}

.deal{
     border-left : 1px solid #ccc;
    padding: 20px  0 20px 30px;
}

.description{
    width: 500px;
    font-size: 20px;
    line-height: 35px
}

.button-start{
    background-color: olive;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 15px 25px;
    text-transform: uppercase;
    display: inline-block;;
}

.button-grup{
    margin-top: 30px;
    display: flex;
}
.button-grup a{
    margin-right: 25px;
}

footer{
    background-color: #eee;
    height: 50px;
}

.partners{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    height: 100%;
}


#res-menu{
    border: 1px solid;
    padding: 15px 25px;
    float: left;
    display: none;
    /* margin: 25px auto 0; */
}

@media (max-width: 1200px ) and (min-width: 992px){
    body{
        background: none;
    }
    
    header, section, .partners{
        width: 960px;
    }

}

@media (max-width: 992px) and (min-width: 770px) {
    body{
        background: none;
    }

    header, section, .partners{
        width: 720px;
    } 
    .nav-wraper .button{
        margin-top: 25px;
    }
    
    nav li{
        padding: 10px;
        margin:0 40px 0 0;
        border: 1px solid;
    } 

    .nav-wraper{
        flex-direction: column;
        justify-content: space-evenly;
    }

    #res-menu{
        display: block;
    }
    .nav{
        display: none;
    }
}


@media (max-width: 770px){

    body{
        background: none;
    }

    header, section, .partners{
        width: 540px;
    }
    .nav-wraper .button{
        margin-top: 25px;
    }
    
    nav li{
        padding: 10px;
        margin:0 5px 0 0;
        border: 1px solid;
    } 

    .nav-wraper{
        flex-direction: column;
        justify-content: space-evenly;
    }

    #res-menu{
        display: block;
    }
    .nav{
        display: none;
    }
}
